.wy-side-nav-search {
background: #ff6600;
background-color: #ff6600;
}
.wy-nav-side {
background: #ff6600;
background-color: #ff6600;
}
.rst-versions .rst-current-version {
background: #ff6600;
background-color: #ff6600;
}